*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main img{
    margin: 20px;
}

.main h1{
    font-family: cursive;
    font-weight: 600;
}


@media(max-width:500px){
    .main img{
        height: 100px;
    }

    .main h1{
        font-size: 22px;
    }
}