*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(233, 229, 232);
}

/* header begins */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
    color: rgb(187, 42, 187);
    z-index: 888;
    position: fixed;
    top: 0;
    width: 100%;
}

.heading-left{
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}

.heading-left .sidebar{
    font-size: 30px;
    margin-right: 25px;
    cursor: pointer;
    animation: zoom 1.5s ease infinite;
}

.heading-left .title h1{
    font-size: 35px;
    font-family:cursive;
}

.heading-left .title h1 span{
    font-family: consolas;
}

.heading-right{
    display: flex;
    align-items: center;
    margin-right: 10px;
    
}

.heading-right a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.heading-right a .about{
    width: 30px;
    animation: zoom 1.5s ease infinite;
}


@keyframes zoom{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

/* header ends */



/* main begins */
main{
    height: 400px;
    width: 100%;
    background: linear-gradient(rgba(7, 7, 7, 0.2), rgb(126, 79, 119)), url("images/green-chameleon-s9CC2SKySJM-unsplash.jpg");
    background-size: cover;
    background-position: left center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    position: relative;
    animation: changeBG 15s ease-in infinite;
}

@keyframes changeBG {
    0%{
        background: linear-gradient(rgba(7, 7, 7, 0.2), rgb(126, 79, 119)), url("images/green-chameleon-s9CC2SKySJM-unsplash.jpg");
        background-size: cover;
        background-position: left center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        position: relative;
        height: 400px;
        width: 100%;
    }
    25%{
        background: linear-gradient(rgba(7, 7, 7, 0.2), rgb(126, 79, 119)), url("images/alexandre-van-thuan-mr9FouttLGY-unsplash.jpg");
        background-size: cover;
        background-position: left center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        position: relative;
        height: 400px;
        width: 100%;
    }
    50%{
        background: linear-gradient(rgba(7, 7, 7, 0.2), rgb(126, 79, 119)), url("images/jaredd-craig-HH4WBGNyltc-unsplash.jpg");
        background-size: cover;
        background-position: left center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        position: relative;
        height: 400px;
        width: 100%;
    }
    75%{
        background: linear-gradient(rgba(7, 7, 7, 0.2), rgb(126, 79, 119)), url("images/mikolaj-DCzpr09cTXY-unsplash.jpg");
        background-size: cover;
        background-position: left center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        position: relative;
        height: 400px;
        width: 100%;
    }
    100%{
        background: linear-gradient(rgba(7, 7, 7, 0.2), rgb(126, 79, 119)), url("images/green-chameleon-s9CC2SKySJM-unsplash.jpg");
        background-size: cover;
        background-position: left center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        position: relative;
        height: 400px;
        width: 100%;
    }
}

.main-left{
   position: absolute;
   left: 100px;
   top: 125px;
}

.main-left .main-title{
    font-size: 25px;
    font-family: cursive;
}

.main-left .main-title span{
    font-family:consolas;
}

.main-left .typing-text{
    margin-left: 40px;
    margin-top: 2px;
    font-family: consolas;
}

.main-right{
   position: absolute;
   right: 30px;
   bottom: 40px;
   display: flex;
   align-items: center;
}

.main-right .main-links{
    margin-right: 10px;
}

.main-links a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    transition: all 0.6s ease;
    display: inline-block;
}

.main-links a:hover{
    color: rgb(236, 45, 236);
    transform: translateY(2px);
}

.main-links a:not(:last-child){
    margin-right: 10px;
}

.main-right .link-desc{
    height: 20px;
    overflow: hidden;
    display: flex;
    width: 185px;
}

.main-right .link-desc p{
    line-height: 18px;
    font-family: consolas;
    font-weight: 600;
}

.main-right .link-desc p:nth-child(1){
    animation: move 10s infinite ease;
}

.main-right .link-desc p:not(:last-child){
    margin-right: 15px;
}

@keyframes move{
    0%{
        margin-left: 0;
    }

    50%{
        margin-left: -195px;
    }

    100%{
        margin-left: 0;
    }
}

/* main ends */


/* section begins */
.container{
    margin-top: 40px;
}

.container .filter-container{
    margin: 40px;
}

.container .combine{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .combine .filter-btn{
    height: 150px;
    width: 150px;
    border: none;
    background-color: rgb(187, 42, 187);
    cursor:pointer;
    margin-right: 40px;
    transition: all 1s ease;
    display: inline-block;
    align-items: center;
}

.container .combine  img{
    width: 80px;
    transition: all 0.6s ease;
}

.container .combine .filter-btn:hover{
    background-color: rgb(104, 6, 104);
}

.container .combine .filter-btn:hover img{
    transform: translateY(6px);
}



.container .combine .filter-btn .filter-text{
    color:white;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: 600;
}

.combine .quiz-btn{
    text-decoration: none;
    height: 150px;
    width: 150px;
    border: none;
    background-color: rgb(187, 42, 187);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    transition: 0.6s ease;
}

.combine .quiz-btn:hover{
    background-color: rgb(104, 6, 104);
}

.combine .quiz-btn .filter-text{
    color:white;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

.container .combine .show-style .filter-btn{
    background-color: rgb(104, 6, 104);
}

.container .combine .buttons .science{
    background-color: rgb(104, 6, 104);
}

.tips{
    font-size: 40px;
    font-family: consolas;
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
}

.show-date{
    font-family: consolas;
    font-weight: 600;
    background: rgb(187, 42, 187);
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
}


/* section ends */


/* sidebar begins */
.bar-container{
    display: none;
    transition: 2s ease;
}


.bar-container.active{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background:linear-gradient(rgba(0,0,0, 0.9), rgba(56, 3, 56, 0.9));
    display: flex;
    z-index: 999;
    flex-direction: column;
    transition: 1s ease;
}

.active .bar-content{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 10px;
}

.active a{
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.8s ease;
}

.active a:hover{
    transform: translateX(12px);
}

.active a:not(:last-child){
    margin-bottom: 20px;
}

.active a img{
    width: 40px;
    margin-right: 15px;
}

.active a span{
    color: white;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.active .cancel{
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(187, 42, 187);
    font-size: 32px;
    cursor: pointer;
    animation: zoom 1.5s ease infinite;
}

.bar-text{
    display: none;
}

.bar-text .footer-title{
    font-family: cursive;
    font-size: 25px;
}

.bar-text .footer-title span{
    font-family: consolas;
}



/* sidebar ends */


/* content begins */
.show-container{
    margin-top: 20px;
    margin-bottom: 70px;
}
.show-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sub-content{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    /* border: 2px solid rgb(236, 45, 236); */
    background: black;
    margin: 20px;
    box-shadow: 0 5px 25px rgba(206, 80, 195, 0.507)
}

.head-content{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.head-content img{
    width: 40px;
}

.head-content .content-title{
    color: white;
    margin-left: 7px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

.sub-content .content-body{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size :14px;
    padding: 5px;
}

/* content ends */

/* footer begins */
footer{
    margin-top: 20px;
    width: 100%;
    background: #000;;
}


footer .footer-text{
    color: rgb(187, 42, 187);
    text-align: center;
    padding: 8px;
}

.footer-text .footer-title{
    font-size: 18px;
    font-family: cursive;
}

.footer-text .footer-title span{
    font-family: consolas;
}

.footer-text .footer-title p{
    font-size: 16px;
    font-family: consolas;
}


/* footer ends */



/* media query begins */
@media(max-width:750px){
    .container .combine .filter-btn{
        height: 80px;
        width: 80px;
    }

    .container .combine  img{
        width: 40px;
    }

    .container .combine .filter-btn .filter-text{
        font-size: 12px;
    }

    .combine .quiz-btn{
        height: 80px;
        width: 80px;
    }

    .combine .quiz-btn .filter-text{
        font-size: 12px;
    }
}

@media(max-width:500px){
    .heading-left{
        margin-left: 2px;
    }

    .heading-left .title h1{
        font-size: 30px;
    }

    .heading-right{
        margin-right: 0;
    }

    .heading-right a .about{
        width: 25px;
    }

    .main-left{
        left: 40px;
     }

    .combine{
        position: fixed;
        bottom: 0;
        left: 0;
        background: white;
        width:100%;
        background: rgb(187, 42, 187);
    }

    .container .combine .filter-btn{
        height: 50px;
        width: 70px;
      
    }

    .container .combine  img{
        width: 30px;
    }

    .container .combine .filter-btn .filter-text{
        font-size: 13px;
    }

    .combine .quiz-btn{
        height: 50px;
        width: 70px;
    }

    .combine .quiz-btn .filter-text{
        font-size: 13px;
    }

    .active a span{
        font-size: 18px;
        font-weight: 600;
    }

    .sub-content{
        width: 100%;
        margin: 20px -35px 0 -35px;
    }


    footer{
        display: none;
    }

    .bar-text{
        position: fixed;
        bottom: 10px;
        text-align: center;
        color: white;
        display: block;
    }
}

@media(max-width:400px){
    .container .combine .filter-btn{
        margin-right: 0;
    }
}

/* media query ends */


