*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: rgb(187, 42, 187);
}

 .arrow-left{
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.start-btn,
.content-box,
.quiz-box,
.result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
                0px 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.3s ease;
}



.content-box.active,
.quiz-box.active,
.result-box.active{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}




/* start quiz button styling */
.start-btn button{
    font-size: 20px;
    font-weight: 500;
    color: rgb(187, 42, 187);
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    transition: 0.5s ease;
}

.start-btn button:hover{
    background-color: rgb(207, 138, 207);
    color: white;
}

.content-box{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    width: 550px;
    background: white;
    border-radius: 10px;
    transition: 0.4s ease;
}

.content-box:hover{
    background: #000;
    color: white;
}

.content-box .content-title{
   height: 40px;
   width: 100%;
   border-bottom: 1px solid lightgray;
   display: flex;
   align-items: center;
   padding: 0 30px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
   font-weight: 600;
}

.content-box .content-list{
    padding: 10px 25px;
}

.content-box .content-list .content{
    margin: 5px 0;
    font-size: 16px;
}

.content-box .content-list .content span{
    color: rgb(187, 42, 187);
    font-weight: 500;
}

.content-box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding: 0 25px;
    border-top: 1px solid lightgray;
}

.content-box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid rgb(187, 42, 187);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.buttons button.restart{
    color: white;
    background-color: rgb(187, 42, 187);
}

.buttons button.restart:hover{
    background: rgb(155, 10, 155);
}

.buttons button.quit{
    color: rgb(187, 42, 187);
}

.buttons button.quit:hover{
    color: white;
    background-color: rgb(187, 42, 187);
}

.quiz-box{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    width: 550px;
    border-radius: 5px;
    background-color: white;
}

.quiz-box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz-box header .title span{
    font-family: cursive;
}

.quiz-box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz-box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 30px;
    background: rgb(207, 138, 207);
    border-radius: 5px;
    padding: 0 8px;
}

.quiz-box header .timer .timer-text{
    font-weight: 400;
    font-size: 15px;
    user-select: none;
}

.quiz-box header .timer .timer-sec{
    font-size: 16px;
    font-weight: 500;
    background: rgb(155, 10, 155);
    height: 25px;
    width:40px ;
    color: white;
    text-align: center;
    line-height:25px;
    border: 1px soild rgb(155, 10, 155);
    border-radius: 5px;
    user-select: none;
}



.quiz-box section{
    padding: 25px 30px 20px 30px;
    background: white;
}

.quiz-box section .question-text{
    font-size: 22px;
    font-weight: 600;
    
}

.quiz-box section .option-list{
    padding: 20px 0;
    display: block;
}

section .option-list .option{
    background: rgb(235, 181, 235);
    border: 1px solid rgb(187, 42, 187);
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s ease all;
}

section .option-list .option:hover{
    background: rgb(207, 138, 207);
    border-color: rgb(207, 138, 207);
    color: rgb(155, 10, 155);
}

.option-list .option:last-child{
    margin-bottom: 0px;
}

.option-list .option .icon{
    height:26px ;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 14px;
    line-height: 24px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-list .option .icon.tick{
    color:#23903c ;
    border-color: #23903c;
    background: #d4edda;
}

.option-list .option .icon.cross{
    color:#a42834 ;
    background: #f8d7da;
    border-color: #a4283a;
}

.option-list .option.correct{
    color:#19752f ;
    border-color: #c3c3c3;
    background: #9cdbab;
}

.option-list .option.incorrect{
    color:#721c24 ;
    background: #e4828a;
    border-color: #f5c6cb;
}

.option-list .option.disabled{
    pointer-events: none;
}

.quiz-box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box footer .total-question span{
    display: flex;
    user-select: none;
}

footer .total-question span p{
    font-weight: 500;
    padding: 0 5px;
}

.total-question span p:first-child{
    padding-left: 0px;
}

footer .next-btn{
    display: none;
    height: 30px;
    padding: 0 5px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    color: white;
    background: rgb(187, 42, 187);
    border-radius: 5px;
    border: 1px soild rgb(187, 42, 187);
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next-btn:hover{
    background: rgb(155, 10, 155);
}

.result-box{
    background: white;
    width: 450px;
    padding: 20px 25px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
}

.result-box .icon img{
    animation: like 2s ease;
    width: 70px;
}

@keyframes like {
    0%{
        width: 70px;
    }
    25%{
        width: 140px;
    }
    50%{
        width: 140px;
        margin-top: 20px;
    }
    75%{
        width: 140px;
        margin-top: -20px;
    }
    100%{
        width: 70px;
    }
}

.result-box .completed-text{
    font-size: 20px;
    font-weight: 500;
}

.result-box .score-text span{
    display: flex;
    margin: 10px 0;
    font-size: 17px;
    font-weight: 400;
}

.score-text span p{
    font-weight: 600;
    padding: 0 4px;
}

.result-box .buttons {
    display: flex;
    margin: 20px 0;
}

.result-box .buttons button{
    margin: 0 10px;
    height: 30px;
    padding: 0 15px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid rgb(155, 10, 155);
    cursor: pointer;
    transition: 0.3s all ease;
}


/* media query */

@media(max-width:600px){
    .content-box,
    .result-box,
    .quiz-box{
        width: 90%;
    }


    .quiz-box section .question-text{
        font-size: 18px;
        font-weight: 600;
        margin-left: -10px;
    }
}

@media(max-width:400px){
    .quiz-box header .title{
        font-size: 17px;
        margin-left: -10px;
       
    }
    
    .quiz-box header .timer{
        width: 80px;
        padding: 0 2px;
    }
    
    .quiz-box header .timer .timer-text{
        font-size: 12px;
    }
    
    .quiz-box header .timer .timer-sec{
        font-size: 14px;
        width:25px ;
    }

    .quiz-box section .question-text{
        font-size: 16px;
        font-weight: 700;
        margin-left: -10px;
    }

    .quiz-box footer{
        padding: 0 10px;
    }

    .result-box{
        padding: 20px 0px;
    }

    .result-box .buttons button{
        font-size: 14px;
    }
}





