*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 218, 236);
    margin: 0 10px 10px 10px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    margin-left: 20px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px 0 0 0;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}

/* footer begins */
footer{
    margin-top: 20px;
    width: 100%;
    background: #000;;
}


footer .footer-text{
    color: white;
    text-align: center;
    padding: 8px;
}

.footer-text .footer-title{
    font-size: 18px;
    font-family: cursive;
}

.footer-text .footer-title span{
    font-family: consolas;
}

.footer-text .footer-title p{
    font-size: 16px;
    font-family: consolas;
}


/* footer ends */

/* media query */

@media(max-width:500px){
    h1{
        font-size: 25px;
        margin-left: 10px;
    }

}