*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(231, 195, 231);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}



header h1{
    font-family: Arial, Helvetica, sans-serif;
}

header h1 .r{
    font-family: cursive;
}

header h1 span{
    font-family: consolas;
}

header .img-card{
    position: relative;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
}

header .img-card img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.info{
    position: relative;
    width: 450px;
    margin: 30px 10px 50px 10px;
    background: white;
    padding: 10px;
    box-shadow: 0 0 25px rgba(48, 3, 48, 0.8) ;
    border-radius: 10px;
}

.info .info-title{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

.info .info-content{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 7px;
    margin-top: 5px;
}

.contact{
    width: 100%;
    margin-top: 50px;
}

.contact h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
}

.contact .contact-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-box .link{
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    margin-right: 20px;
}

.contact-box .link a{
    text-decoration: none;
    color: black;
    margin: 10px;
    transition: all 0.4s ease;
}

.contact-box .link a:hover{
    color: rgb(87, 8, 87);
    transform: translateY(5px);
}

.contact-box section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    width: 90%;
    max-width: 500px;
    margin: 0 20px;
    padding: 10px;
    box-shadow: 0px 0px 20px #000;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    font-family: consolas;
}

.form-group{
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 2px solid rgb(196, 111, 196);
    outline: none;
}

.form-group input:focus{
    background-color: rgb(243, 227, 243);
}

.form-group textarea:focus{
    background-color: rgb(243, 227, 243);
}



textarea{
    resize: vertical;
}

button[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
    background: rgb(158, 59, 158);
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

button[type="submit"]:hover{
    background-color:rgb(114, 13, 114) ;
}

#status{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

#status.success{
    background-color: rgb(26, 190, 26);
    animation:status 4s ease forwards ;
}

#status.error{
    background-color: red;
    color: white;
    animation:status 4s ease forwards ;
}

@keyframes status{
    0%{
        pointer-events: all;
        opacity: 1;
    }
    90%{
        pointer-events: all;
        opacity: 1;
    }
    100%{
        pointer-events: none;
        opacity: 0;
    }
}


/* footer begins */
footer{
    margin-top: 20px;
    width: 100%;
    background: #000;;
}


footer .footer-text{
    color: white;
    text-align: center;
    padding: 8px;
}

.footer-text .footer-title{
    font-size: 18px;
    font-family: cursive;
}

.footer-text .footer-title span{
    font-family: consolas;
}

.footer-text .footer-title p{
    font-size: 16px;
    font-family: consolas;
}


/* footer ends */

/* media query */


@media(max-width:470px){
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
    }
}

@media(max-width:335px){
    header h1{
        margin-left: 5px;
    }

    header .img-card{
        height: 60px;
        width: 60px;
    }
}
