*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 218, 236);
}

.scroll-btn{
    position: fixed;
    right: 10px;
    bottom: 30px;
    padding: 8px 10px;
    background: rgb(187, 42, 187);
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 999;
    display: none;
    color: #fff;
}

.scroll-btn.active{
    display: block;
}

/* header styling */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s ease;
    padding: 5px;
    z-index: 999;
}

header.change{
    background: #000;
}

header .header-title h1{
    font-family: cursive;
    text-align:center;
    transition: 0.5s ease;
    margin-bottom: 10px;
}

header .arrow-left{
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.change .arrow-left{
    color: white;
}

.change h1{
    color: white;
}

.change .topics{
    color: white;
}

header .header-container{
    margin-left: 20px;
}

header .header-container .topics{
    display: none;
    width: 30px;
}

header .header-container .topics span{
    margin-left: 5px;
}

header .header-container .topics .down{
    display: none;
}

header .header-container .topics .up.active{
    display: none;
}

header .header-container .topics .down.active{
    display: block;
}

header .header-container .topics:hover{
    color: rgb(187, 42, 187);
}

header .header-container a,
.topics{
    text-decoration: none;
    padding: 5px;
    color: black;
    transition: 0.6s ease;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 18px;
    transition: 0.5s ease;
}

.change .header-container a{
    color: white;
}

header .header-container a:hover{
    color: rgb(187, 42, 187);
}

.info{
    margin-top: 90px;
}



/* section */
.stress, .concord, .letter, .collocation{
    margin:15px;
    padding-top: 100px;
}


.section-title h1{
    text-transform: uppercase;
    font-size: 30px;
    font-family: consolas;
}

.section-title .title-info{
    margin: 10px;
}

.rule-container h2{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.rule-container .rule-content{
    margin: 0 10px 25px 10px;
    font-size: 16px;
    line-height: 1.3em;
}

/* letter writing styling */

.letter-type{
    margin-bottom: 20px;
}

.letter-type ul{
    margin-left: 25px;
}

.letter-type ul li{
    list-style: circle;
}

.f-letter{
    margin-bottom: 45px;
}

.f-info, .i-info{
    margin-left: 5px;
    margin-bottom: 5px;
}


.f-examples ul, .i-examples ul{
    margin-left: 25px;
}

.f-examples ul li, .i-examples ul li{
    list-style: circle;
}

.letter .i-img{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter .i-img img{
    border-radius: 20px;
    box-shadow: 0px 0px 20px #000;
}

.abbr{
    margin: 40px 10px 0 20px;
}

.abbr-title{
    font-size: 18px;
    font-family: consolas;
    font-weight: 600;
}

.abbr ul{
    margin-left: 20px;
}
.abbr ul li{
    list-style: circle;
    font-size: 15px;
}

/* collocation styling */

.collocation .section-info{
    font-size: 18px;
    font-family: consolas;
    font-weight: 600;
}

.collocation .section-content{
    margin: 0 5px 0 20px;
}

.section-content ul{
    margin-top: 5px;
}

.section-content ul li{
    list-style: circle;
    margin-bottom: 10px;
}



/* footer styling */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .footer-links a{
    color: #000;
    font-size: 30px;
    margin: 10px;
    transition: all 0.3s ease;
    display: inline-block;
}

footer .footer-links a:hover{
    color: rgb(114, 13, 114);
    transform: translateY(5px);
}

footer .footer-title{
    font-size: 20px;
    font-family: cursive;
}

footer .footer-title span{
    font-family: consolas;
}














/* media query */

@media(max-width:800px){
    .letter .i-img img{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
       
    }
}


@media(max-width:500px){
    header .header-title h1{
        font-size: 23px;
    }

    header .header-container .topics{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    header .header-container .links a{
        display: none;
        transition: all 0.5s ease;
    }

    header .header-container .links a:hover{
        transform: translateX(10px);
    }

    header .header-container .show-links a{
        display: flex;
        flex-direction: column;
        background: #000;
        position: relative;
        height: 20px;
        width: 200px;
        color: white;
        margin-left: -10px;
    }

    
}

@media(max-width:350px){
    header .header-title h1{
        font-size: 20px;
    }
}
