*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.scroll-btn{
    position: fixed;
    right: 10px;
    bottom: 30px;
    padding: 8px 10px;
    background: rgb(187, 42, 187);
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 999;
    display: none;
    color: #fff;
}

.scroll-btn.active{
    display: block;
}

/* header styling */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s ease;
    padding: 5px;
    z-index: 999;
}

header.change{
    background: #000;
}

header .header-title h1{
    font-family: cursive;
    text-align:center;
    transition: 0.5s ease;
    margin-bottom: 10px;
}

.change h1{
    color: white;
}

.change .topics{
    color: white;
}

header .header-container{
    margin-left: 20px;
}

header .header-container .topics{
    display: none;
    width: 30px;
}

header .header-container .topics span{
    margin-left: 5px;
}

header .header-container .topics:hover{
    color: rgb(187, 42, 187);
}

header .header-container a,
.topics{
    text-decoration: none;
    padding: 5px;
    color: black;
    transition: 0.6s ease;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 18px;
    transition: 0.5s ease;
}

.change .header-container a{
    color: white;
}

header .header-container a:hover{
    color: rgb(187, 42, 187);
}

.info{
    margin-top: 90px;
}