*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.scroll-btn{
    position: fixed;
    right: 10px;
    bottom: 30px;
    padding: 8px 10px;
    background: rgb(187, 42, 187);
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 999;
    display: none;
    color: #fff;
}

.scroll-btn.active{
    display: block;
}

/* header styling */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s ease;
    padding: 5px;
    z-index: 999;
}

header.change{
    background: #000;
}

header .header-title h1{
    font-family: cursive;
    text-align:center;
    transition: 0.5s ease;
    margin-bottom: 10px;
}

.change h1{
    color: white;
}

.change .topics{
    color: white;
}

header .header-container{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

header .header-container .topics{
    display: flex;
    align-items: center;
    width: 30px;
    cursor: pointer;
}

header .header-container .topics span{
    margin-left: 5px;
}

header .header-container .topics:hover{
    color: rgb(187, 42, 187);
}


header .header-container .topics .down{
    display: none;
}

header .header-container .topics .up.active{
    display: none;
}

header .header-container .topics .down.active{
    display: block;
}


header .header-container .show-links a{
    display: flex;
    flex-direction: column;
    background: #000;
    position: relative;
    height: 20px;
    width: 200px;
    color: white;
    margin-left: -10px;
    transition: 0.4s ease all;
}

header .header-container .show-links a:hover{
    transform: translateX(10px);
}


header .header-container a,
.topics{
    text-decoration: none;
    padding: 5px;
    color: black;
    transition: 0.6s ease;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 18px;
    transition: 0.5s ease;
}

header .header-container a{
    display: none;
}

.change .header-container a{
    color: white;
}

.header-container .header-r{
    margin-right: 40px;
    font-size: 20px;
    font-family: cursive;
    display: none;
    margin-top: 30px;
}

.header-container .header-r span{
    font-family: consolas;
}

.header-container .header-r.show-logo{
    display: block;

}

.header-container .header-r img{
    width: 150px;
    border-radius: 50%;
    animation: refreshtips 5s ease infinite;
}


@keyframes refreshtips {
    0%{
        margin-left: 0;
    }
    25%{
        margin-top: -30px;
    }
    50%{
        margin-top: 0;
    }
    75%{
        margin-top: 30px;
    }

    100%{
        margin-top: 0;
    }
}


.info{
    margin-top: 90px;
}


.all-style{
    padding-top: 110px;
}

.all-style .section-title{
    font-size: 25px;
    text-transform: uppercase;
    font-family: consolas;
    margin: 5px 30px;
    font-weight: 700;
}

.all-style .section-body{
    display: flex;
    margin-left: 30px;
    flex-wrap: wrap;
}

.all-style .section-body img{
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(2,2,2, 0.6);
    width: 400px;
    margin: 30px;
}






















/* media query */

@media(max-width:620px){
    .all-style .section-body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .all-style .section-body img{
        width: 90%;
    }
}

@media(max-width:560px){
    .header-container .header-r.show-logo{
        display: none;
    }
}